/**
body {
    height: 90%; 
    width: 90%
}
*/
.background{
   background-color: #333333;
}

.conteneur{
    display: grid;
    grid-template-columns: 6% 89%;
    grid-template-rows: 20%;
    gap: 3%;
    margin-top: 1%;
}

.menu{
    margin-top: 6%;
    grid-row: span 3;
    background-color: #333333;
    padding: 6%;
    border-radius: 25px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    grid-template-rows: 90vh;
    display: flex;
    flex-direction: column; /* Définir la direction du flux comme colonne pour afficher les icônes les unes en dessous des autres */
    align-items: center; /* Centrer horizontalement les icônes */
    gap: 3.5%;
    height: 92%
}

.menu i {
    margin-top: 20%;
    font-size: 3vw; /* Ajustez la taille de l'icône */
    color: white; /* Couleur de l'icône */
}

/*
.iconeStylo{
    margin-bottom: 100%;
}
*/

.iconeLin, .iconeTwi, .iconeInsta{
    cursor: pointer;
}


.header h3 {
    
    margin-bottom: 0;
    
}

.header{
    grid-column: 2;
    grid-row: 1;
    margin: 0%
}

.contenu{
    grid-column: 2;
    display: grid;
    grid-template-columns : 70% 25%;
    grid-template-rows: 90vh;
    gap: 3%;
}

.leftPart{
   
    display: grid;
    grid-template-rows: 50% 40%;
    gap : 2rem;
} 

.rightPart{ 
    display: grid;
    grid-template-rows: 40% 55%;    
}

.projets, .notifications, .app{
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.notifications, .app{
    flex-wrap: wrap;
    border-radius: 50px;
    padding: 6%;
}

.notifications {
    display : grid;
    gap: 0.5rem;
    padding: 5%;
    grid-template-rows: 20% 80%; 
}

.lesNotifs {
    border-radius: 10px;
    display : grid;
    gap: 0.5rem;
    margin-bottom: 2%;
}


/** Affichage des notifs*/

.actualites {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.actualites h3 {
    margin-top: 0;
}

.actualites p {
    margin-bottom: 0;
}

.notifs {
    display: flex;
    background : rgb(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 2%;
    position: relative;
    padding-right: 40px; /* Espacement pour le texte "NEW" */
    height: 100%
}

.new-indicator {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    padding: 3px 4px; /* Ajustez la taille du padding ici */
    border-radius: 3px;
    font-size: 12px;
}

.app {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 8%;
    gap: 2rem;
}

.box {
    display: flex;
    background : rgb(255, 255, 255, 0.4);
    border-radius: 30px;
    cursor: pointer; 
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
}

.box:hover {
    transform: scale(1.05); /* Augmenter légèrement la taille de l'élément au survol */
}


.projets{
    border-radius: 50px;
    padding: 5%;
}

.home {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* Chaque partie occupe un tiers de l'espace disponible */
    gap : 2rem;
    padding: 2%;
    /*height: 64%;*/
}


.calendr, .heure, .todo-app{
    border-radius: 50px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.calendr, .heure{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app, .lesNotifs{
    overflow-y: auto;
    scrollbar-width: none;
}

.projets{
    /**
    padding-left: 6%;
    padding-bottom: 2%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
    grid-template-columns: 25% 25% 25%;
    align-items: center;
    */
    overflow: hidden;
}

/**

.projets .graphique-milieu {
    width: 80%; 
    height: 80%; 
}
*/

.notifications{
    margin-bottom: 5%;
}


.news{

}


/**
CAROUSEL
*/
.carousel{
    position: relative;
    /*overflow: hidden;*/
}

.carousel__container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__item {
    float: left;
}

/**
ARROWS
*/

.carousel__next, .carousel__prev {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: tranform 0.3s, opacity 0.3s;
}

.carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
}

.carousel__next {
    right: 0; /* Positionne la flèche à droite */
}

.carousel__prev {
    left: 0; /* Positionne la flèche à gauche */
}

.item {
    margin-top: 5%;
    margin-left: 18%;
}

.carousel__prev--hidden, .carousel__next--hidden {
    opacity: 0;
}

/**
INDICATORS
*/

.carousel__indicators {
    display: flex;
    justify-content: center;
}

.carousel__indicator {    
    width: 8px;
    height: 8px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
    margin-top: 15px;
    transition: background-color 0.3s;

}

.carousel__indicator.highlighted {
    background-color: #FFF;
    opacity: 1;
}

/* Style de base du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Affichage du menu déroulant lorsqu'il est ouvert */
.dropdown-content.active {
    display: block;
}

/* Style des liens à l'intérieur du menu déroulant */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style des liens au survol */
.dropdown-content a:hover {
    background-color: #555555;
}

/* Style de l'icône de profil */
.profile-icon {
    cursor: pointer;
}

/* Style du message de bienvenue */
.welcome-message {
    display: inline-block;
    margin-left: 10px; /* Espacement entre l'icône de profil et le message de bienvenue */
}

/* STYLE TODO-LIST*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.todo-app{
    width: 100%;
    /*max-width: 540px;*/
    background: transparent;
    margin: auto; 
    padding: 20px;
    height: 100%;
}

.todo-app h2{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none; 
    padding: 16px 30px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.task-item{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: white;
}

.task-item::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

.task-item.checked{
   color: #555; 
   text-decoration: line-through;
}

.task-item.checked::before{
    background-image:url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;

 }
