body {
    font-family: Arial, sans-serif;
    background-color: #555555;
    margin: 0;
    padding: 0;
    color: white
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #555555;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #CCCCCC;
}

.form-group button {
    background-color:  #283747 ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.form-group button[type="reset"] {
    background-color: #f44336;
}

.form-group button:hover {
    background-color:   #283747 ;
}

.form-group h2 {
    text-align: center;
    margin-bottom: 30px;
}
