html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.container {
    padding-top: 7%;
    display: flex;
    height: 90%;
    width: 60%;
    margin-left: 21%;
    
}

.left-side, .right-side {
    /*margin: auto;
    height: 88%; */
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}


.left-side {
    background-image: url('images/fond5.jpg');
    background-size: cover;
    opacity: 0.7;
    padding-top: 15%;
    padding-left: 8%;
    color: white;
    width: 40%;
}

.right-side {
    text-align: center; 
    padding: 20px;
    background-color: rgba(242, 242, 242, 0.60);    
    width: 60%;
}

/* BUTTON SUBMIT */

button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #262423;
}

/* BUTTON RESET */
button[type="reset"] {
    width: 30%;
    padding: 10px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="reset"]:hover {
    background-color: #262423;
}

/* CHAMPS DE LOGINS */

.input-group {
    display: flex;
    justify-content: center; 
    display: block;
    margin-bottom: 40px;
}


.input-group input {
    width: 70%; 
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}


a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black
}

/* TEXTE */
.texte-en-gras {
    font-weight: bold;
}

.policeMonospace {
    font-family: Courier New, monospace
}


label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 15%;
}

#username {
    margin-top: 60px;
}

#password {
    margin-bottom: 20px;
}

#listeGroupe {
    margin-bottom: 80px;
}


/* Style pour la liste déroulante */
select {
    width: 70%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    cursor: pointer; /* Change le curseur au survol de la liste déroulante */
}

/* Style pour les options de la liste déroulante */
select option {
    background-color: #ffffff;
    color: black;
}

