/* Import Google font - Poppins */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.calendar{
  width:70%;
  height: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.left-side, .right-side{
  height: 100%;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
}

.left-side{
  width: 58%;
}

.right-side{
  width: 42%;
  background: #ff5945;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#date{
  font-size: 50px;
  line-height: 45px;
}

