
.cadre{
    width: 75%;
    height: 55%;
    background : rgb(255, 255, 255, 0.11); 
    border-radius: 20px;  
    position: relative;
}

.clock{
    width:100%;
    height: 100%;
    border-radius: 20px; 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    padding: 3%
}

.clock div{
    font-size: 50px;
    width: 80px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock div::after{
    font-size: 10px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content:'HEURES';
}

#min::after{
    content:'MINS';
}



