html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

/*body::before {
    content: ''; 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #333333, #999999);
    z-index: -1; 
}**/


.container {
    padding-top: 7%;
    display: flex;
    height: 90%;
    width: 60%;
    margin-left: 21%;
    border-radius: 40px;
}

.left-side, .right-side {
    /*margin: auto;
    height: 88%; */
    /*background-color: rgba(255, 255, 255, 0.11);*/
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 40px;
}


/*.left-side {
    padding-top: 15%;
    padding-left: 8%;
    background-color: #f2f2f2;
    border-radius: 40px; 
}*/

.right-side {
    text-align: center; 
    padding: 20px; 
    /*background-color: #ffffff;*/
    /*border-radius: 40px;*/
    background-color: rgba(242, 242, 242, 0.60);
    border-top-right-radius: 40px; /* Arrondir le coin supérieur gauche */
    border-bottom-right-radius: 40px;
    width: 60%;
}

.left-side {
    background-image: url('images/fond5.jpg');
    background-size: cover;
    opacity: 0.7;
    padding-top: 15%;
    padding-left: 8%;
    border-top-left-radius: 40px; /* Arrondir le coin supérieur gauche */
    border-bottom-left-radius: 40px;
    color: white;
    width: 40%;
}

/* BUTTON SUBMIT */

button[type="submit"] {
    width: 30%;
    padding: 10px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #262423;
}

/* CHAMPS DE LOGINS */

.input-group {
    display: flex;
    justify-content: center; 
    display: block;
    margin-bottom: 40px;
}


.input-group input {
    width: 70%; 
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}

#username {
    margin-top: 60px;
}

#password{
    margin-bottom: 100px;
}


a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black
}

/* TEXTE */
.texte-en-gras {
    font-weight: bold;
}

.policeMonospace {
    font-family: Courier New, monospace
}