body {
    display: grid;
    /*grid-template-columns: 6% 89%;*/
    grid-template-rows: 100%;
    gap: 3%;
    background-color: #333333; 
}

.directory{
    margin-left: 8%;
}

.menu {
    position: fixed;
    background-color: #333333;
    padding: 1%;
    border-radius: 25px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; /* Définir la direction du flux comme colonne pour afficher les icônes les unes en dessous des autres */
    align-items: center;  /* Centrer horizontalement les icônes */
    gap: 4%;
    height: 100%; /* Définir la hauteur à 100% de la hauteur de la vue (viewport height) */
}

.menu i {
    margin-top: 20%;
    font-size: 3vw; /* Ajustez la taille de l'icône */
    color: white; /* Couleur de l'icône */
}

/*
.iconeStylo{
    margin-bottom: 100%;
}

.iconeLin{
    margin-bottom: 100%;
}
*/


.group {
    margin: 10px; 
}

.members {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.members > div {
    font-family: Arial Narrow, sans-serif;
    border: 1px;
    flex-basis: 20%;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    background-color: #777777;
    cursor: pointer; 
    transition: transform 0.3s ease;
    border: none;
}

.members > div:hover {
    transform: scale(1.05); /* Augmenter légèrement la taille de l'élément au survol */
}

.group ul {
    list-style-type: none;
    padding: 0; /* Suppression du padding par défaut de la liste */
}

/** Pastillle de couleurs
*/

.members div .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 12vw;
}

.dot.blue {
    background-color: blue;
}

/*.members div .dot.green {
    background-color: green;
}*/

.dot.green {
    background-color: green;
}
.dot.red {
    background-color: red;
}

.members div .dot.black {
    background-color: black; /* Couleur par défaut si l'idposte n'est pas reconnu */
}

.image-redimension{
    width: 50px; /* Largeur souhaitée */
    height: auto;
}

/**REDIMENSION*/

.employe {
    display: flex;
}

.image {
    margin-right: 10px; 
}

.info {
    display: flex;
    flex-direction: column; 
}

.point {
    width: 10px; 
    height: 10px; 
    background-color: black; 
}

.nom {
    margin-bottom: 5px; 
}

fieldset {
    max-width: 20%;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: left; /* Alignement horizontal au centre */
    color: white;
}

.dot {
    display: flex;
    align-items: center; /* Alignement vertical au centre */
    margin-bottom: 1vw; /* Espacement entre chaque élément de légende */
    border-radius: 50%;
}

.dot h3 {
    margin-left: 2vw; /* Espacement entre le point et le texte */
}

.points {
    width: 20px; 
    height: 20px;
}



/* Style de base du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Affichage du menu déroulant lorsqu'il est ouvert */
.dropdown-content.active {
    display: block;
}

/* Style des liens à l'intérieur du menu déroulant */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style des liens au survol */
.dropdown-content a:hover {
    background-color: #555555;
}

/* Style de l'icône de profil */
.profile-icon {
    cursor: pointer;
}